/thr_experiments/thr_xp_human_comfort/tmp/*
/thr_experiments/thr_xp_human_comfort/notebooks/.ipynb_checkpoints/*
/thr_experiments/thr_xp_human_comfort/config/current_perm.json
/thr_experiments/thr_xp_human_comfort/results/*
/thr_experiments/thr_xp_human_comfort/results.back/*
/thr_experiments/thr_xp_human_comfort/results_pre_study/*
/thr_action_server/src/thr_decisions/*.pyc
/thr_action_server/src/thr_actions/*.pyc
