<?xml version="1.0"?>
<launch>
    <arg name="ip" /> <!-- IP of the VRPN server (default 3883) -->
    <arg name="port" default="3884" /> <!-- Port of the VRPN server (default 3883) -->
    <arg name="scene"/>
    <arg name="type" />

    <param name="/thr/scene" value="$(arg scene)"/> 
    <rosparam command="load" file="$(find thr_coop_assembly)/config/scenes/$(arg scene)/tracked_objects.yaml" param="optitrack/objects"/>
    <rosparam command="load" file="$(find thr_coop_assembly)/config/scenes.yaml" param="/thr/objects"/>
    
    <include file="$(find optitrack_publisher)/launch/optitrack_publisher.launch" >
      <arg name="ip" value="$(arg ip)"/> <!-- IP of the VRPN server (like Motive or Arena) -->
      <arg name="port" value="$(arg port)"/> <!-- Port of the VRPN server (default 3883) -->
      <arg name="output" value="log"/>
    </include>
    
    <node pkg="thr_coop_assembly" name="$(arg type)_scene_state_manager" type="$(arg type)_scene_state_manager.py" output="screen"/>
    <node pkg="thr_coop_assembly" name="human_activity_recognizer" type="human_activity_recognizer.py" output="screen"/>
</launch>
